@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("./style.css");
@import url("./slick-custom.css");
@import url("./newsletter-popup.css");
@import url("./search.css");

* {
    outline: none;
    font-family: "Titillium Web", sans-serif;
}

*:focus {
    outline: none;
}


:root {
    --background: #FAFAFA;
    --black: #353535;
    --white: #ffffff;
    --primary: #FAA500;
    --active: #FAA500;

    --font-size: 14px;

    --top: 10rem;

    --breakpoint-xl: 1280px;
    --breakpoint-lg: 1024px;
    --breakpoint-md: 768px;
    --breakpoint-sm: 640px;
    --breakpoint-xs: 480px;
    --breakpoint-xxs: 320px;
}

body {
    background-color: var(--background);
    /* min-height: 500vh !important; */
}


.profile-img {
    border: 3px solid white;
}

.spinner {
    animation: spin infinite 2s linear;

    /*You can increase or decrease the timer (5s) to 
     increase or decrease the speed of the spinner*/
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



.fixtop {
    height: 136px;
    background-color: white;
}

@media(max-width: 993px) {
    .fixtop {
        height: 82px;
    }
}

.shelf .slick-slide {
    padding: 10px;
}

.shelf .slick-prev {
    left: 0 !important;
}

.shelf .slick-next {
    right: 0 !important;
}


@media (min-width: 993px) {
    .backdrop-blur-sm {
        display: none;
    }

}