.slick-next,
.slick-prev {
    height: 32px !important;
    /* border: 1px solid red !important; */
}

.slick-list {
    padding: 0 !important;
}

.slick-prev {
    left: 140px !important;
    padding: 20px !important;
    z-index: 1;
    background: url('https://cdn.eltonleao.com/maeztra/icons/arrow-prev.svg') center center no-repeat !important;
}

.slick-prev::before {
    display: none;
}

.slick-next {
    right: 140px !important;
    padding: 20px !important;
    z-index: 1;
    background: url('https://cdn.eltonleao.com/maeztra/icons/arrow-next.svg') center center no-repeat !important;
    height: 32px;
}

.hero .slick-next,
.hero .slick-prev {
    height: 100% !important;
    height: 100% !important;
}

.slick-next::before {
    display: none;
}

.slick-dots {
    bottom: 24px !important;
}

.slick-dots li button::before {
    display: none;
}

.slick-dots li {
    margin: 0 8px !important;

}

.slick-dots li button {
    background-color: transparent !important;
    border: 2px solid var(--active) !important;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

.slick-dots li.slick-active button {
    background-color: var(--active) !important;
}

@media (max-width: 993px) {
    .slick-next {
        right: 0 !important;
    }

    .slick-prev {
        left: 0 !important;
    }

    .slick-dots {
        display: none !important;
        bottom: 0 !important;
        padding: 5px !important;
    }

    .slick-dots li {
        margin: 0 4px !important;
    }

    .slick-dots li button {
        width: 10px !important;
        height: 10px !important;
        padding: 0 !important;
    }

}

.deals .slick-slide>div {
    margin: 0 10px;
}