.infocard {
    margin-top: 80px;
    display: flex;
    gap: 64px;
    justify-content: space-between;
    align-items: center;
    min-height: 480px;
}

.title {
    font-family: Titillium Web;
    font-size: 32px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 24px;
}

.textContent {
    flex: 1;
}

.imgDesktop {
    flex: 2;
    display: flex;
    justify-content: right;
    background: url("https://i.imgur.com/1vLCv01.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    min-height: 480px;
    border-radius: 8px;
}

.textContent h4 {
    font-family: Titillium Web;
    font-size: 24px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 1rem;

}

.textContent p {
    font-family: Titillium Web;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

}


@media (max-width: 993px) {
    .infocard {
        display: block;
        padding: 8px;
        margin-top: 30px;
    }

    .textContent {
        margin-bottom: 2rem;
    }

    .textContent p {

        font-family: 'Titillium Web';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;

        /* color-2-900 */
        color: #000000;


    }

    .imgDesktop {
        display: none;
    }

    .imgMobile {
        border-radius: 8px;
        width: 100%;
        max-height: auto;
        margin: auto;
        height: 100%;
    }
}